.className{
   display: flex;
   transform: rotate(45deg);
   color: pink;
}
@import './_variables';
@import './_function';
@import './_mixins';
@import './_public';

@import './theme/element-variables';